footer.footer
  .wrapper
    .footer__schedule
      .footer__title График работы:
      p.footer__text Пн, Вт, Ср, Чт, Пт - с 9 до 18 часов 
      p.footer__text Сб, Вс - выходные
    .footer__contacts
      .footer__title Контакты:
      a.footer__contacts-link (812) 447-46-42
      a.footer__contacts-link (812) 970-12-24
      a.footer__contacts-link Info@dezstan.ru
    nav.footer__nav
      .footer__nav-item
        .footer__title Информация
        ul.footer__nav-list.footer__list
          li.footer__list-item
            a.footer__link Главная
          li.footer__list-item
            a.footer__link Наши клиенты
          li.footer__list-item
            a.footer__link Вакансии
      .footer__nav-item
        .footer__title Расположение
        ul.footer__nav-list.footer__list
          li.footer__list-item
            a.footer__link Контакты
          li.footer__list-item
            a.footer__link Карта проезда
      .footer__nav-item
        .footer__title Компания
        ul.footer__nav-list.footer__list
          li.footer__list-item
            a.footer__link О нас
          li.footer__list-item
            a.footer__link Документация
    span.footer__copyright ООО “Станция Дезинфекции”
    
  
