header.header
  .wrapper
    .header__content
      img.header__logo(src="images/dest/demo.webp" alt="demo")
      a.header__address(href="#") г.Санкт-Петербург, ул. Новоселов, д.8
      a.header__email(href="#") info@dezstan.ru
    .header__contacts
      img.header__socials(src="images/dest/demo.webp" alt="demo")
      a.header__phone(href="#") (812) 970-12-24
      a.header__phone(href="#") (812) 447-46-42
  .wrapper
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item.active
          a.header__nav-link(href="#") Главная
        li.header__nav-item
          a.header__nav-link(href="#") Услуги
        li.header__nav-item
          a.header__nav-link(href="#") Товары
        li.header__nav-item
          a.header__nav-link(href="#") О нас
        li.header__nav-item
          a.header__nav-link(href="#") Лицензии
        li.header__nav-item
          a.header__nav-link(href="#") Контакты
